* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(46, 32, 32);
}
main {
  display: flex;
  place-items: center;
  height: 700px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  background-color: #caac16;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #15c6bb;
}
.navheading {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}
.active {
  background-color: #4f9ee8;
}
.container {
  display: grid;
  grid-template-areas:
    "a a a b"
    "a a a b"
    "a a a b"
    "a a a b"
    "c c d d"
    "c c e e"
    "c c e e";
  gap: 15px;
  width: 70%;
  margin: auto;
  height: 600px;
}
.container div {
  padding: 10px;
  text-align: center;
}
.item-a {
  background-color: #eb5020;
  grid-area: a;
}
.item-b {
  background-color: #ffa401;
  grid-area: b;
}
.item-c {
  background-color: #05aa42;
  grid-area: c;
}
.item-d {
  background-color: #01aefd;
  grid-area: d;
}
.item-e {
  background-color: #01aefd;
  grid-area: e;
}
